{% include 'partial/base.html' %}
{% block title %}
  <title>
  List Sub Categories</title
  >
{% endblock %}
{% block content %}
  <h1>List Sub Categories</h1>
  <form action="list_sub_categories" method="post">
    <p>
      <input type="hidden"
             name="super_category"
             value="{{ params.get('super_category') }}"/>
    </p>
    <h3>List Sub Categories of {{ params.get("super_category") }}</h3>
    <p>
      <input type="submit" value="Submit" />
    </p>
  </form>
  <a class="button" href="../proj.cgi/">Main Menu</a>
{% endblock %}
