{% extends 'partial/base.html' %}
{% block title %}<title>{{ title }}</title>{% endblock %}
{% block content %}
  <h1>{{ title }}</h1>
  <form action="" method="post">
    {% for field in fields %}
      <div class="form-field">
        <label>{{ field.label }}</label>
        <input type="{{ field.type if field.type else 'text' }}"
               name="{{ field.name }}"/>
      </div>
    {% endfor %}
    <p class="horizontal-center">
      <input type="submit" value="Submit" />
    </p>
  </form>
  <a class="button" href="./">Main Menu</a>
{% endblock %}
