<html>
  <title>Has Category</title>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
  />

  <body style="padding: 20px">
    {% if cursor %}
    <h1>Has Category</h1>
    <table border="2px">
      <thead>
        <tr>
          <th>EAN</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {% for record in cursor %}
        <tr>
          <td>{{ record[0] }}</td>
          <td>{{ record[1] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <a class="button" href="../proj.cgi/"> Main Menu </a>

    {% else %}
    <p>Erro: ao obter dados da base de dados!</p>
    {% endif %}
  </body>
</html>
