<doctype html>
<title>Main Menu</title>
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"/>
<body style="padding: 20px">
  <h1>Projeto de BD - 2021/2022</h1>
  <div class="container">
    <a class="button" href="./category">Category</a>
    <a class="button" href="./simple_category">Simple Category</a>
    <a class="button" href="./super_category">Super Category</a>
    <a class="button" href="./has_other">Has Other</a>
    <a class="button" href="./product">Product</a>
    <a class="button" href="./has_category">Has Category</a>
    <a class="button" href="./ivm">IVM</a>
    <a class="button" href="./retail_point">Retail Point</a>
    <a class="button" href="./installed_on">Installed On</a>
    <a class="button" href="./shelf">Shelf</a>
    <a class="button" href="./planogram">Planogram</a>
    <a class="button" href="./retailer">Retailer</a>
    <a class="button" href="./responsible_for">Responsible For</a>
    <a class="button" href="./replenishment_event">Replenishment Event</a>
  </div>
  <div>
    <form action="insert_query" method="post">
      <p>
        <input type="hidden" name="retailer" />
      </p>
      <p class="query">
        Insert Query:
        <input class="query" type="text" name="query" />
      </p>
      <p>
        <input type="submit" value="Submit" />
      </p>
    </form>
  </div>
</body>
</doctype>
