{% include 'partial/base.html' %} {% block title %}<title>Sub Categories</title
>{% endblock %} {% block content %} {% if cursor %}
<h1>Sub Categories</h1>
<table border="2px">
  <thead>
    <tr>
      <th>Sub Categories</th>
    </tr>
  </thead>
  <tbody>
    {% for record in cursor %}
    <tr>
      <td>{{ record[0] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a class="button" href="../proj.cgi/">Main Menu</a>
{% else %}
<p>Erro: ao obter dados da base de dados!</p>
{% endif %} {% endblock %}
