<html>
  <title>Replenishment Event</title>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
  />

  <body style="padding: 20px">
    {% if cursor %}
    <h1>Replenishment Event</h1>
    <table border="2px">
      <thead>
        <tr>
          <th>EAN</th>
          <th>Number</th>
          <th>Serial Number</th>
          <th>Manufacturer</th>
          <th>Instant</th>
          <th>Units</th>
          <th>TIN</th>
        </tr>
      </thead>
      <tbody>
        {% for record in cursor %}
        <tr>
          <td>{{ record[0] }}</td>
          <td>{{ record[1] }}</td>
          <td>{{ record[2] }}</td>
          <td>{{ record[3] }}</td>
          <td>{{ record[4] }}</td>
          <td>{{ record[5] }}</td>
          <td>{{ record[6] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <a class="button" href="../proj.cgi/"> Main Menu </a>

    {% else %}
    <p>Erro: ao obter dados da base de dados!</p>
    {% endif %}
  </body>
</html>
