<html>
  <title>Super Category</title>
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"/>
  <body style="padding: 20px">
    {% if cursor %}
      <h1>Super Category</h1>
      <table border="2px">
        <thead>
          <tr>
            <th>Name</th>
            <th>Action</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for record in cursor %}
            <tr>
              <td>{{ record[0] }}</td>
              <td class="list">
              <a class="button, list" href="./ask_list?super_category={{ record[0] }}">List</a
              >
            </td>
            <td class="remove">
              <a class="button, remove" href="">Remove</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <a class="button" href="./ask_super">Insert Super Category</a>
      <a class="button" href="../proj.cgi/">Main Menu</a>
    </div>
  {% else %}
    <p>Erro: ao obter dados da base de dados!</p>
  {% endif %}
</body>
</html>
